.banner {
	width: 960px;
	height: 350px;
	margin: 0 auto;
	animation: slide 10s infinite;
}

@keyframes slide {
	0%, 30% {
		backgroun-image: url(../imagens/01.jpeg);
	}
	35%, 65% {
		backgroun-image: url(imagens/02.jpeg);
	}
	70%, 100% {
		backgroun-image: url(imagens/03.jpeg);
	}
}