body {
background-color: gray;
}
p {
font-family: arial;
font-size: 20px;
}
a {
color: yellow;
text-decoration: none;
}
a: hover {
color: #ff6600;
text-decoration: underline;
}
h1 {
font-family: verdana; 
color: blue;
border: 5px solid blue;
}

h2 {
font-family: verdana; 
color: red;
border: 2px solid #8B4500;
}
h3 {
font-family: verdana; 
color: #D2691E;
}


.pedidoD {
	background-color: #C0C0C0;
}

.formheader {
	text-align: left;
	color: brown;
}

.formlabel {
	text-align: right;
	vertical-align: top;
	padding: 8px;
}

.formfield {
	text-align: left;
}

.formtable {
	border: 1px solid black;
}