body {
background-color: white;
}
h1 {
color: ;
}
p {
color: ;
}

.imagem {
	display: table-cell;
	float: left;
}

.imagem2 {
	display: table-cell;
	float: right;
	margin-left: 20px;
}

.imagem3 {
	display: table-cell;
	float: left;
	margin-left: 10px;
	margin-top: 50px;
}

.imagem4 {
	display: table-cell;
	float: right;
	margin-right: 30px;
	margin-top: 40px;
}

.texto {
	display: table-cell;
	float: right;
	width: 700px;
	margin-top: 30px;
	margin-right: 70px;
	font-family: Abel;
	font-size: 15px;
}

.texto2 {
	display: table-cell;
	float: left;
	width: 400px;
	margin-top: 30px;
	margin-right: 30px;
	font-family: Abel;
	font-size: 15px;
}

.texto3 {
	display: table-cell;
	float: right;
	width: 600px;
	margin-top: 60px;
	margin-right: 30px;
	font-family: Abel;
	font-size: 15px;
}

.texto4 {
	display: table-cell;
	float: left;
	width: 400px;
	margin-top: 60px;
	margin-right: 20px;
	font-family: Abel;
	font-size: 15px;
}

.texto5 {
	display: table-cell;
	float: left;
	width: 700px;
	margin-top: 40px;
	margin-left: 30px;
	font-family: Abel;
	font-size: 15px;
}

.galeriafoto01 {
	display: table-cell;
	float: left;
	margin-left: 20px;
}

.fundogaleria {
	background-color: #C0C0C0;
}

.fundopep {
	background-color:;
}

.fundocobertura {
	background-color: #C0D9D9;
}




#empresa {
	background: #00CC00;
	color: #FFF;
	padding: 20px
}

#pep {
	background: #00CC00;
	color: #FFF;
	padding: 20px
}

#cobertura {
	background: #00CC00;
	color: #FFF;
	padding: 20px
}

#galeria {
	background: #00CC00;
	color: #FFF;
	padding: 20px
}

#transmissoes {
	background: #999999;
	color: #FFF;
	padding: 10px
}

#instalacoes {
	background: #999999;
	color: #FFF;
	padding: 10px
}

#conosco {
	background: #00CC00;
	color: #FFF;
	padding: 20px
}




{
color: red; /* cor do texto */
font-family: verdana; /* nome da fonte */
font-size: 16px; /* tamanho da fonte */
border: 2px solid black; /* estilo da borda */
padding: 20px; /* espaço entre a borda e o texto*/
marging: 50px; /* define a margem */
}