body {
	background-image:url(imagens/instalações/fundo2.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}
h1 {
color: ;
}
p {
color: ;
}


/* ESTILOS GALERIA */
.conteinerfoto { 
   float:left; 
   margin: 10px; 
   padding:5px; 
} 

.conteinerfoto { 
   float:left; 
   width:240px; 
   height:200px; 
   margin-top: 50px;
   margin-left: 60; 
   padding:5px; 
   background-color: #CCCCCC; 
   border-right: #a5a7aa solid 1px; 
   border-bottom: #a5a7aa solid 1px; 
   text-align:center; 
} 

#instalacoes {
	color: white;
	font-size: 25px;
}