.fundo {
background-color: #CCCCCC;
}

td, th {
border: 2px solid #330000;
padding: 15px; /* Espaço ao redor das células */
font-size: 25px;
font-family: Abel;
color: black;
}

.titulo {
	background: #660000;
	color: white;
	padding: 20px;
}

#andamento {
	color: red;
}